@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


#loginPage{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100Vh;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}
/* body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(), #ffffff;
  background-position: center;
  background-size: cover;
} */
.navbar{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#backicon{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
a{
  color: black;
}
.loging-text{
  width:80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 600;
 padding-right: 50px;
}

.loginAnimation{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 60%;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #000000;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #000000;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}







.wrapper a:hover {
  text-decoration: underline;
}

#loginBtn {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid black;
  transition: 0.3s ease;
}

#warnig {
  margin: 10px;
  color: red;
  font-size: small;
  display: none;
}